
@font-face {
  font-family: 'IRANYekan';
  src: url('IRANYekan.eot?#iefix') format('embedded-opentype'),  url('IRANYekan.woff') format('woff'), url('IRANYekan.ttf')  format('truetype'), url('IRANYekan.svg#IRANYekan') format('svg');
  font-weight: normal;
  font-style: normal;
}
